parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/

    ignoreErrors:
        - '#Method .+ has parameter .+ with no value type specified in iterable type array#'
        - '#Method Tests.+ return type has no value type specified in iterable type#'
        - '#Method Tests.+provide.+ is unused#'
